# Git
.git
.gitignore

# IDE
.idea
.vscode
*.iml

# Build outputs (keep for pipeline - will be overwritten by mount)
warranty_demo/target
warranty-ui/dist
warranty-ui/node_modules

# Test
**/__pycache__
**/*.pyc
**/.pytest_cache

# Misc
.DS_Store
*.log
.env
.env.*
